

@font-face{
	 font-family: "MyWebFont";
	 src: url(./KaushanScript-Regular.otf);
}


h1, h2, h3 {
	font-family: "MyWebFont", cursive;
	padding: 10px;
}

hr{
	width: 500px;
}

.grid{
	display: grid;
	grid-template: 250px 1400px/1fr 2fr;
	grid-gap: 20px;
}

/* Header*/

.Header{
	grid-area: 1/1/2/3;
	background-color: #5f9ea0;
	color: #DDA77B;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	padding: 30px;
	text-align: center;
}
.Border{
	border-top-style: outset;
	border-right-style: inset;
    border-bottom-style: inset;
  	border-left-style: outset;
	border-color: #DDA77B;
	border-width: 5px;
	padding: 10px;
}

#Job{
	font-size: 25px;
	text-transform: capitalize;
}

/*Sidebar*/

.sidebar{
	grid-area: 2/1/3/2;
	background-color: #5f9ea0;
	margin-right: 10px;
	margin-left: 40px;
	padding: 30px;
}

#myImg{
	border-radius:50%;
	padding: 6px;
	border:5px dotted white;
	align-items: center;
}

.iconImg{
	height: 50px;
	width: 50px;
	vertical-align: middle;
}

#sidebarSpacer{
	width:300px;
}



/* Main Content #5f9ea0*/

.mainContent{
	grid-area: 2/2/3/3;
	margin-right: 50px;
	padding-top:20px;
	padding-left: 20px;
	padding-right: 20px; 
	background-color: #5f9ea0;
}

.indent{
	padding:50;

}

.flexContainer{
	display: flex;
	flex-direction: row;
	justify-content: left;
	padding: 10px;
}

.flexitem{
	padding-left: 25px;
	padding-right: 25px;
}

.space{
	width:500px;
}

.date{
	width:100px;
}
.bold{
	font-weight: bold;
}

.italic{
	font-style: italic;
}

ul{
	column-count: 2;
	line-height: 20pt;
	list-style: square; 
}
